body {
    margin: 60px auto;
    width: 85%;
}
nav ul, footer ul {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #cccccc;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #cccccc;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
    margin-bottom: 1.5em;
}

footer {
    border-top: 5px solid #cccccc;
    font-size: .9em;
}

ul.posts { 
    margin: 10px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img:hover {
    opacity: 0.75;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



.post-container {
    margin: 20px 20px 0 0;  
    overflow: auto
}
.profile {
    float: right
}
.writeup img {
    display: block
}
